.home {

.main {
    padding-left: 2rem;
    min-height: calc(100vh - 5rem - 5rem);

    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;

    .head {
        font-size: clamp(3rem,11vw,11rem);
        font-weight: 800;
        line-height: .9;
        letter-spacing: -.04em;
        color: var(--text-color);
        position: relative;
        display: inline-block;
        user-select: none;
    }

    .subhead {
        font-size: clamp(1rem,2vw,2rem);
        color: var(--ctp-sky);
        margin-top: -4rem;

        .cur {
            animation: blink 1s step-end infinite;
        }
    }

}

}

@keyframes blink{0%,100%{opacity:1}50%{opacity:0}}